html{
    background: lightcyan;
}
.color{
    background: lightcyan;
    color: black;
}
.leftimg{
    display: block;
    margin-left: 25px;
    padding: 12px;
}

.cars{
    background: lightcyan;
}

.righttxt{
    display: block;
    margin-left:500px;
    margin-top: -200px;
    margin-bottom: 100px;
}
.pad{
	padding: 12px;
}
.btn-primary{
    margin-left:750px;
    padding: 12px;
}