html{
    background: lightcyan;
}
.leftimg{
    display: block;
    margin-left: 25px;
    padding: 12px;
}
.righttxt{
    display: block;
    margin-left:500px;
    margin-top: -200px;
    margin-bottom: 100px;
}
.pad{
	padding: 12px;
}
.centerbtn{
	margin: auto;
}
