{% extends 'base.html' %}

{% block content %}
    <h1 class="text-center">Fix-A-Wreck Manager</h1>
    <div role="group" class="btn-group-vertical">
        <a href='/inventory'><button class="btn btn-outline-primary text-center" type="button">View Inventory</button></a>
        <a href='/joblist'><button class="btn btn-outline-primary" type="button">Job List</button></a>
        <a href='/newUser'><button class="btn btn-outline-primary" type="button">Create New Manager</button></a>
    </div>
{% endblock %}